p.caption {
  color: #777;
  margin-top: 10px;
  padding-left: 50px;
}
p code {
  white-space: inherit;
  padding-left: 50px;
}
pre {
  word-break: normal;
  word-wrap: normal;
  padding-left: 50px;
}
pre.numberSource code > span > a:first-child::before {
  left: -0.3em;
}
pre code {
  white-space: inherit;
  padding-left: 50px;
}



.co {
    display: inline-block;
    color: white !important;
    background: black;
    border-radius: 50%;
    text-align: center;
    font-size: .90em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans","DejaVu Sans",sans-serif;
    font-style: normal;
    font-weight: bold;
}